.product {
  background: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.product a {
  display: inline-block;
  margin-top: 5px;
  padding: 5px 10px;
  background: #0a7cff;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}